.promo {
  margin: 20px 40px 0;
  padding: 160px 0 30px;
  border-radius: 10px;
  background: #F5F5F5;
}

.promo__title {
  margin: 0 auto;
  max-width: 730px;
  margin-bottom: 151px;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
}

@media screen and (max-width: 768px) {
  .promo {
    padding: 350px 24px 30px;
    margin: 20px 20px 0;
  }

  .promo__title {
    margin-bottom: 314px;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -1.6px;
  }
}

@media screen and (max-width: 528px) {
  .promo {
    padding: 220px 0px 17px;
    margin: 14px 14px 0 14px;
  }

  .promo__title {
    font-size: 29px;
    line-height: 37px;
    letter-spacing: -1.16px;
    margin-bottom: 210px;
  }
}