.about-project {
  padding: 111px 70px 110px;
}

.about-project__title {
  margin: 0;
  border-bottom: 1px solid #000;
  padding-bottom: 23px;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
}

.about-project__columns {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.about-project__column {
  flex: 1;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.about-project__subtitle {
  margin: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
}

.about-project__text {
  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.about-project__duration {
  padding-top: 110px;
  display: flex;
}

.about-project__part {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.about-project__part-backend {
  width: calc(100% / 5);
}

.about-project__part-frontend {
  width: calc(100% - (100% / 5));
}

.about-project__duration-backend {
  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
  background-color: #000;
  text-align: center;
  padding: 8px 0;
}

.about-project__duration-frontend {
  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #F2F2F2;
  text-align: center;
  padding: 8px 0;
  width: 100%;
}

.about-project__duration-name {
  font-family: 'Suisse Intl', 'Helvetica Neue', Arial, sans-serif;;
  display: block;
  color: #A0A0A0;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  text-align: center;
}

@media screen and (max-width:768px) {
  .about-project {
    padding-top: 91px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .about-project__columns {
    gap: 30px;
  }

  .about-project__column {
    gap: 22px;
  }

  .about-project__text {
    font-size: 12px;
    line-height: 18px;
  }

  .about-project__part{
    gap: 12px;
  }

  .about-project__duration{
    padding-top: 93px;
  }

  .about-project__duration-backend{
    padding: 10px 0;
  }

  .about-project__duration-frontend{
    padding: 10px 0;
  }
}

@media screen and (max-width: 650px) {
  .about-project__columns {
    justify-content: center;
  }

  .about-project__column {
    padding-top: 60px;
    min-width: 284px;
  }

  .about-project__column:last-of-type {
    padding-top: 0;
  }
}

@media screen and (max-width: 474px) {
  .about-project {
    padding-top: 71px;
  }

  .about-project__title {
    font-size: 18px;
    padding-bottom: 28px;
  }

  .about-project__subtitle{
    font-size: 18px;
  }

  .about-project__text {
    font-size: 11px;
    line-height: 16px;
  }

  .about-project {
    padding-left: 18px;
    padding-right: 18px;
  }

  .about-project__columns {
    gap: 58px;
  }

  .about-project__column {
    gap: 16px;
  }

  .about-project__part{
    gap: 7px;
  }

  .about-project__part-backend{
    min-width: 100px;
  }

  .about-project__part-frontend{
    width: calc(100% - 100px);
  }

  .about-project__duration {
    padding-top: 62px;
  }

  .about-project__duration-backend {
    font-size: 11px;
    padding: 11px 0;
  }

  .about-project__duration-frontend {
    font-size: 11px;
    padding: 11px 0;
  }

  .about-project__duration-name {
    font-size: 11px;
  }
}